@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #14B8A6;
  --color-accent: #FACC15;

  --font-sans: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50 font-sans transition-colors duration-200;
  }
}
